.mini-toast {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  color: #000;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.toast {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000;
}

/* .info {
  background-color: #007bff;
}

.success {
  background-color: #28a745;
}

.warning {
  background-color: #ffc107;
}

.error {
  background-color: #dc2626;
} */
