.mini-toast {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  color: #000;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}


/* .info {
  background-color: #007bff;
}

.success {
  background-color: #28a745;
}

.warning {
  background-color: #ffc107;
}

.error {
  background-color: #dc2626;
} */
